.box1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;

}
.sign-in {
    width: 90%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign-in .title3 {
    margin: 77px 0;
}
.sign-in .buttons {
    display: flex;
    text-align: center;
    justify-content: start;
}
.switchPage {
    width: 90%;
    max-width: 380px;
    display: flex;
    margin: auto;
    
}
.switchPage h4{
    color:#6cf
}
