.collection-preview {
    display: flex;
    flex-direction: column;
    margin: 0px 60px 30px 60px;
}
.collection-preview .title {
    font-size: 3vw;
    margin: 1vw 0px;
    color: #FFFFFF;
}
.collection-preview .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 730px) {
    .collection-preview {
        margin: 0px 3vw;
   }
}
@media only screen and (max-width: 1170px) {
    .collection-preview{
        margin:0px 3vw;
    }
  }
