.homepage{

    background-color: #121212;

   
    .buysvg{
        width: 50vh;
        height:50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .sellsvg{
        width: 50vh;
        height:50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }
    .backgroundcurve{
        height: auto;
        position: "relative";
        z-index: 1;
        .cls-1 {
            //  fill:rgba(22,164,189,.767) ;
             fill:#0cf;
            stroke: #fff;
            stroke-miterlimit: 10;
        }
    }

   
    .recommendation{
        background-color:#252424c2;
        border-radius: 25px;
        border: 1px solid rgba(0, 204, 255, 0.822);
        box-shadow: 0 0 16px 0 rgb(1, 169, 211);
        margin: 0px 30px 45px 30px;
    }
}